@import "bourbon"
@import "config"
@import "config-careers"
@import "neat"

@import "normalize"
@import "documentation"
@import "typography"
@import "iconography"
@import "buttons"
@import "ui_patterns"

@import "layout/mixins"
@import "modules/tri-column/tri-column"
@import "modules/footer/footer"
@import "modules/modal/modal"
@import "modules/carousel/carousel"
@import "modules/photo-carousel/photo-carousel"
@import "extends"
@import "mixins"

html:not(.mobile-true) #main img:not(.animate-element, .ls-s-1),
html:not(.mobile-true) #header img,
html:not(.mobile-true) #bottom-bar img
    opacity: 1 !important


body
	overflow-x: hidden
	background-color: $white
	margin: 0
	padding: 0
	&.nav-active
		overflow: hidden
		margin-right: 15px
		nav
			padding-right: 15px

.off-canvas
	overflow: hidden
	position: fixed
	background: #1f2326
	width: 100%
	margin: 0 -100% 0 0
	right: 0
	height: 100%
	top: 0
	bottom: 0
	padding: 0
	z-index: 1002
	@include transition(margin-right 0.15s ease-in-out)
	&.nav-active
		margin: 0
	@include media(min-width $mobile)
		width: 400px
		margin: 0 -400px 0 0
	li
		color: $white
		font-weight: bold
		font-size: 18px
		letter-spacing: 2px
		cursor: pointer
		text-transform: uppercase
		list-style: none
		border-bottom: 1px solid #4e5254
		padding: 8px 0 4px
		&.sidebar-close
			font-size: 28px
			margin: 30px 30px 0
			border-bottom: none
			height: 20px
			width: 30px
			span
				width: 19px
				height: 2px
				background-color: $white
				position: absolute
				&.first-child
					@include transform(rotate(45deg))
				&.last-child
					@include transform(rotate(-45deg))
	ul
		padding: 0 20px 20px
		&.top-level
			padding: 0 80px 80px
			margin: 0
		&.sub-list
			text-transform: none
			padding: 0 20px 10px
			li
				margin: 0 20px 0
				padding: 0
				border-bottom: 0
				text-transform: none
				list-style: disc
				font-family: $regular-font
				letter-spacing: inherit
				font-weight: normal
				color: $white
				letter-spacing: 0px
			.bold
				font-family: $bold-font
				letter-spacing: 0px
		// &:last-child
		// 	padding: 0 20px 20px

.overlay
	background: #000
	opacity: 0
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: 1001
	visibility: hidden
	@include transition(all 0.15s ease-in-out)
	&.nav-active
		opacity: 0.8
		visibility: visible

nav
	background: rgba(31,35,38,0.8)
	height: 70px
	width: 100%
	position: fixed
	top: 0
	z-index: 1000
	ul
		margin: 0
		li, a
			display: inline-block
			color: $light-gray
		a:hover, a:active, a.active
			color: $white
		&.anchor
			float: left
			padding: 12px
			margin-left: 40px
			.logo
				top: 9px
				position: relative
				padding-right: 10px
				svg
					height: 30px
					fill: $light-gray
					width: 30px
			.title
				height: 18px
				text-transform: uppercase
		&.main-nav
			float: right
			display: none
			@include media(min-width $tablet)
				display: block
			li
				padding: 27px 15px 19px
		&.nav-toggle
			float: right
			margin: 0
			li
				margin: 19px 24px 8px 0
				font-size: 28px
				cursor: pointer

.hero
	background-size: cover
	height: 550px
	position: relative
	@include media(min-width $mobile)
		height: 800px
	.one-half
		height: 100%
		.copy
			position: absolute
			bottom: 30px
			color: $white
			padding: 30px
			@include media(min-width $mobile)
				bottom: 80px
				padding: 0
	&.six
		.one-half
			@include span-columns(6)
			@include shift(1)
	&.seven
		.one-half
			@include span-columns(7)
			@include shift(1)

.three-video
	.one-third
		&:not(:last-child)
			border-right: 1px solid $light-gray
	.video-image
		position: relative
		img
			width: 100%
		button
			position: absolute
			bottom: 40px
			left: 50%
			margin-left: -79px
	.video-quote
		padding: 65px
		background-color: $black
		color: $white
	&.icon
		background-color: $cool-white
		.icon-image
			padding: 20%
.columns
	.one-quarter
		position: relative
	h3
		text-align: center
		color: $white
		top: 20px
		position: relative
	&.large-icon
		.one-half
			svg
			 height: 50%
			&.large
				height: 325px
				@include media(min-width $mobile)
					height: 650px
	.tile
		@include display(flex)
		@include justify-content(center)
		@include align-items(center)
		@include background-theme("dark", true, $angle: 45deg)
		height: 100%
		width: 100%
	.title
		position: absolute
		bottom: 30px
		width: 100%
		@include media(min-width $mobile)
			bottom: 50px
	&.half-video
		.button
			position: absolute
			bottom: 30px
			left: 30px
			padding: 1em 3.75em 1em
			@include media(min-width $tablet)
				bottom: 70px
				left: 70px
		.cover
			background: url(../imgs/video-callout.jpg)
			background-size: cover
			height: 650px
		.one-half
			background-color: #fff

.values-module
	.text
		padding: 4% 50px
		h1
			text-align: center
		p
			@include span-columns(8)
			margin: 0 auto
			position: relative
			@include shift(2)
			text-align: center
	.value-block
		position: relative
		display: block
		float: left
		width: 20%
		padding: 3% 3% 2%
		h4
			color: $blue
			font-size: 24px
			text-transform: uppercase
			text-align: center


.jobs-table
	padding: 60px 40px 60px 40px
	position: relative
	h4
		&.positions
			position: absolute
			margin-top: 18px
	#jobs
		width: 100%
		@extend %thin-headline
		tr
			border-bottom: 1px solid #dfe0e0
		td
			font-size: 16px
			padding: 10px 0 2px
			@include media(min-width $tablet)
				font-size: 30px
				padding: 12px 0 3px
			&:first-child
				width: 60%
			&:nth-child(2)
				width: 20%
			&:nth-child(3)
				width: 20%
		th
			position: relative
			.styled-select
				overflow: hidden
				position: relative
				margin-bottom: 20px
				select
					display: block
					height: 30px
					left: 0
					width: 130px
					background-color: transparent
					border-radius: 0
					padding: 7px 7px 5px
					font-size: 12px
					color: #3f4041
					font-weight: bold
					text-transform: uppercase
					@include media(min-width $tablet)
						width: 230px
						height: 60px
						padding: 15px 15px 10px
						font-size: inherit
.half-quad-icon
	.one-half
		background-color: $white
.block-label
	margin: 0 0 30px 0

.half-icon
	img
		width: 100%
	.copy
		padding-top: 60px
		@include span-columns(4 of 6)
		@include shift(1)

.full-video
	background: url(../imgs/careers-hero.jpg)
	background-size: cover
	height: 650px
	position: relative
	h1
		color: $white
	.copy
		bottom: 80px
		padding: 0 70px
		position: absolute
		@include span-columns(6)
	p
		color: $white
	&.left
		.copy
			@include shift(6)
	&.right
		.copy
			@include shift(0)
.photo-carousel
	overflow: auto
	@include media(min-width $tablet)
		.photo-description
			@include span-columns(6)
			background-color: $white
		.arrow.right
			right: 54.2%
	.arrow
		display: none
		@include media(min-width $tablet)
			display: block
#photo-carousel
	@include media(min-width $tablet)
		@include span-columns(6)

.seven-five
	@include media(min-width $mobile)
		&.picture-is-bigger
			.seven-five-text
				@include span-columns(6)
				.copy
					@include span-columns(4 of 6)
					@include shift(1)
			.seven-five-picture
				@include span-columns(6)
		&.text-is-bigger
			.seven-five-text
				@include span-columns(7)
				.copy
					@include span-columns(5 of 7)
					@include shift(1)
			.seven-five-picture
				@include span-columns(5)
	.seven-five-picture
		img
			width: 100%
	.copy
		padding-top: 60px

	&.dark
		background: $black
		color: $white

footer
  position: relative
  z-index: 2

.fixed-footer-bg
  z-index: 0 !important
  display: block
.modal-backdrop.in
	display: none
.modal-open
	nav
		position: static
