{% if matrixBlock.copySide == "left" %}
{% if matrixBlock.image.first()|length %}
<section class="columns full-video cover right {{ matrixBlock.textBackground }}" style="background-image:url('{{ matrixBlock.image.first().url }}')" id="{{ matrixBlock.scrollID }}">
{% endif %}

	<div class="copy">
		<h4 class="block-label">{{ matrixBlock.label }}</h1>
		<h1>{{ matrixBlock.headline }}</h1>
		<p>{{ matrixBlock.description }}</p>
		{% if matrixBlock.learnmore|length %}
			{% set link = matrixBlock.learnmore %}
			<a href="{{ link.url }}">{{ link.linkText }}</a>
		{% endif %}
	</div>

</section>
{% endif %}

{% if matrixBlock.copySide == "right" %}
{% if matrixBlock.image.first()|length %}
<section class="columns full-video left {{ matrixBlock.textBackground }}" style="background-image:url('{{ matrixBlock.image.first().url }}')" id="{{ matrixBlock.scrollID }}">
{% endif %}

	<div class="copy">
		<h4 class="block-label">{{ matrixBlock.label }}</h1>
		<h1>{{ matrixBlock.headline }}</h1>
		<p>{{ matrixBlock.description }}</p>
		{% if matrixBlock.learnmore|length %}
			{% set link = matrixBlock.learnmore %}
			<a href="{{ link.url }}">{{ link.linkText }}</a>
		{% endif %}
	</div>

</section>
{% endif %}
