	<section class="columns half-icon {{ matrixBlock.textBackground }}" id="{{ matrixBlock.scrollID }}">
		{% if matrixBlock.pictureSide == "left" %}
		{% if matrixBlock.image.first()|length %}
			<div class="one-half cover" class="hide-mobile" style="background-image:url('{{ matrixBlock.image.first().url }}')">
		{% endif %}
		{% if matrixBlock.illustration.first()|length %}
			<div class="one-half" class="hide-mobile">
				<img class="hide-mobile" src="{{ matrixBlock.illustration.first().url }}">
			</div>
		{% endif %}
			</div>
		{% endif %}
		<div class="one-half">
			<div class="copy">
				<h4 class="block-label">{{ matrixBlock.label }}</h4>
				<h1>{{ matrixBlock.headline }}</h1>
				<p>{{ matrixBlock.description }}</p>
				{% if matrixBlock.learnmore|length %}
					{% set link = matrixBlock.learnmore %}
					<a href="{{ link.url }}">{{ link.linkText }}</a>
				{% endif %}
			</div>
		</div>
		{% if matrixBlock.pictureSide == "right" %}
		{% if matrixBlock.image.first()|length %}
			<div class="one-half cover" class="hide-mobile" style="background-image:url('{{ matrixBlock.image.first().url }}')">
		{% endif %}
		{% if matrixBlock.illustration.first()|length %}
			<div class="one-half" class="hide-mobile">
				<img class="hide-mobile" src="{{ matrixBlock.illustration.first().url }}">
			</div>
		{% endif %}
			</div>
		{% endif %}
	</section>
