	<section class="columns half-quad-icon">
		<div class="one-half">
			<div class="one-half">
				<div class="tile">
					<svg class="shape">
	          <use xlink:href="#sf-icon"></use>
	        </svg>
				</div>
				<div class="title">
					<h3>Corporate</h3>
				</div>
			</div>
			<div class="one-half">
				<div class="tile">
					<svg class="shape">
	          <use xlink:href="#sf-icon"></use>
	        </svg>
				</div>
				<div class="title">
					<h3>Product</h3>
				</div>
			</div>
			<div class="one-half">
				<div class="tile">
					<svg class="shape">
	          <use xlink:href="#sf-icon"></use>
	        </svg>				</div>
				<div class="title">
					<h3>Corporate</h3>
				</div>
			</div>
			<div class="one-half">
				<div class="tile">
					<svg class="shape">
	          <use xlink:href="#sf-icon"></use>
	        </svg>				</div>
				<div class="title">
					<h3>Product</h3>
				</div>
			</div>
		</div>
		<div class="one-half">
			<div class="copy">
				<h4>What We Do</h4>
				<h1>We’re a commerce platform for finding, buying and selling cloud software.</h1>
				<p>We offer a cloud service marketplace and management platform that enables companies to distribute web-based services. The global network of AppDirect-powered marketplaces allows businesses to find, buy, and manage the best applications the cloud has to offer.<a href="#">Learn More</a></p>
			</div>
		</div>
	</section>