	<section class="columns half-icon">
		{% if matrixBlock.pictureSide == "left" %}
			<div class="one-half">
				{% if matrixBlock.illustration.first()|length %}
					<img class="hide-mobile" src="{{ matrixBlock.illustration.first().url }}">
				{% endif %}
			</div>
		{% endif %}
		<div class="one-half">
			<div class="copy">
				<h4 class="block-label">{{ matrixBlock.label }}</h4>
				<h1>{{ matrixBlock.headline }}</h1>
				<p>{{ matrixBlock.description }}</p>
				{% if matrixBlock.learnmore|length %}
					{% set link = matrixBlock.learnmore %}
					<a href="{{ link.url }}">{{ link.linkText }}</a>
				{% endif %}
			</div>
		</div>
		{% if matrixBlock.pictureSide == "right" %}
			<div class="one-half">
				{% if matrixBlock.illustration.first()|length %}
					<img class="hide-mobile" src="{{ matrixBlock.illustration.first().url }}">
				{% endif %}
			</div>
		{% endif %}
	</section>