<section class="columns hero {{ matrixBlock.textColumns }}" style="background-image: url('{{ matrixBlock.backgroundImage.first().url }}')">
	<div class="one-half">
		<div class="copy">
			{% if matrixBlock.label|length %}
				<h4 class="block-label">{{ matrixBlock.label }}</h4>
			{% endif %}
			<h1>{{ matrixBlock.tagline }}</h1>
			<h2>{{ matrixBlock.introText }}</h2>
			{% if matrixBlock.primaryButton|length %}
				<a class="light button video-launch"  href="https://appdirect.wistia.com/medias/yeutv91p59" title="yeutv91p59">Watch Video</a>
				{% set link = matrixBlock.primaryButton %}
				<a href="{{ link.url }}" class="button light" >{{ link.linkText }}</a>
			{% endif %}

		</div>
	</div>
</section>
