<section class="columns three-video icon">
	<div class="one-third">
		<div class="icon-image">
			{% if matrixBlock.locationIllustrations1.first()|length %}
					<img src="{{ matrixBlock.locationIllustrations1.first().url }}" />
			{% endif %}
			<h3>San Francisco, CA</h3>
			<h4>Headquarters</h4>
		</div>
	</div>
	<div class="one-third">
		<div class="icon-image">
			{% if matrixBlock.locationIllustrations2.first()|length %}
					<img src="{{ matrixBlock.locationIllustrations2.first().url }}" />
			{% endif %}
			<h3>Montreal, Canada</h3>
		</div>
	</div>
	<div class="one-third">
		<div class="icon-image">
			{% if matrixBlock.locationIllustrations3.first()|length %}
					<img src="{{ matrixBlock.locationIllustrations3.first().url }}" />
			{% endif %}
			<h3>Munich, Germany</h3>
		</div>
	</div>
</section>
