<section class="jobs-table" id="{{ matrixBlock.scrollID }}">
	<div class="container">
		<h4 class="block-label">Open Positions</h4>
		<h2>{{ matrixBlock.jobsHeadline }}</h2>
		<table id="jobs" class="responsive">
			<tbody>
				{% for entry in craft.entries.section('jobs') %}
					<tr>
				        <td><a href="{{ entry.jobviteUrl }}">{{ entry.title }}</a></td>
				        {% set location = entry.location.first() %}
				        <td>{{ location.title }}</td>
				        {% set team = entry.team.first() %}
				        <td>{{ team.title }}</td>
				    </tr>
				{% endfor %}

		    </tbody>
			</table>
		</div>
	</section>
