<section class="jobs-table" id="{{ matrixBlock.scrollID }}">
	<div class="container">
		<h4 class="block-label">Open Positions</h4>
		<h2>{{ matrixBlock.jobsHeadline }}</h2>
		<div id="jobs" class="responsive">
				{% for entry in craft.entries.section('jobs') %}
					<div class="row">
				        <div class="entry title"><a href="{{ entry.jobviteUrl }}">{{ entry.title }}</a></div>
				        {% set location = entry.location.first() %}
				        <div class="entry location">{{ location.title }}</div>
				        {% set team = entry.team.first() %}
				        <div class="entry team">{{ team.title }}</div>
				    </div>
				{% endfor %}

			</div>
		</div>
	</section>
