<section class="photo-carousel full-container">
  <div class="arrow left">
    <svg class="photo-prev">
      <use xlink:href="#shape-arrow_left"></use>
    </svg>
  </div>
  <div id="photo-carousel">
    <div class="item">     
      <div class="image" style="background-image: url(http://info.appdirect.com/uploads/about/career1_2x.jpg);"></div>      
    </div> 
    <div class="item"> 
      <div class="image" style="background-image: url(http://info.appdirect.com/uploads/about/career2_2x.jpg);"></div>
    </div>
    <div class="item">   
      <div class="image" style="background-image: url(http://info.appdirect.com/uploads/about/career3_2x.jpg);"></div>      
    </div>
  </div>
  <div class="photo-description">
    <h1>
    Drive disruption, build your career.</h1>
    <p>
    Are you ready to revolutionize the cloud industry? AppDirect has built a pioneering platform to power global cloud service commerce.</p>
    <p>
      <a class="text-button" href="http://info.appdirect.com/about/careers">Join Us</a></p>
  </div>
  <div class="arrow right">
    <svg class="photo-next">
      <use xlink:href="#shape-arrow_right"></use>
    </svg>
  </div>
</section>