<section class="columns values-module">
  <div class="row text">
    <h4 class="block-label">Core Values</h4>
    <h1>We strongly believe a company’s success depends on its culture.</h1>
    <p>
      That’s why we've established a comprehensive set of core values that every team member must exemplify.They guide everything we do and provide a solid foundation for continued growth.
    </p>
  </div>
  <div class="row">
    <div class="value-block">
      <img src="imgs/values_truenorth.svg" alt="" />
      <h4 class="blue">True North</h4>
    </div>
    <div class="value-block">
      <img src="imgs/values_humility.svg" alt="" />
      <h4 class="blue">Humility</h4>
    </div>
    <div class="value-block">
      <img src="imgs/values_intensity.svg" alt="" />
      <h4 class="blue">Intensity</h4>
    </div>
    <div class="value-block">
      <img src="imgs/values_pma.svg" alt="" />
      <h4 class="blue">PMA</h4>
    </div>
    <div class="value-block">
      <img src="imgs/values_ownership.svg" alt="" />
      <h4 class="blue">Ownership</h4>
    </div>
  </div>
</section>
