<section class="columns values-module">
  <div class="row text">
    <h4 class="block-label">Core Values</h4>
    <h1>We strongly believe a company’s success depends on its culture.</h1>
    <p>
      That’s why we've established a comprehensive set of core values that every team member must exemplify.They guide everything we do and provide a solid foundation for continued growth.
    </p>
  </div>
  <div class="row">
    <div class="value-block">
      <img src="imgs/values_truenorth.svg" alt="" />
      <h4 class="blue">True North</h4>
      <div class="info">
        <h4 class="blue">True North</h4>
        <p>
          Seek empirical truth to disrupt subjective convictions and align priorities for long-term success.
        </p>
      </div>
    </div>
    <div class="value-block">
      <img src="imgs/values_humility.svg" alt="" />
      <h4 class="blue">Humility</h4>
      <div class="info">
        <h4 class="blue">Humility</h4>
        <p>
          Focus on the mission, not egos; listen before being heard, stay open to being wrong, and don’t take credit, give it.
        </p>
      </div>
    </div>
    <div class="value-block">
      <img src="imgs/values_intensity.svg" alt="" />
      <h4 class="blue">Intensity</h4>
      <div class="info">
        <h4 class="blue">Intensity</h4>
        <p>
          Invest the energy to consistently outpace theimpossible through speed and perseverence.
        </p>
      </div>
    </div>
    <div class="value-block">
      <img src="imgs/values_pma.svg" alt="" />
      <h4 class="blue">PMA</h4>
      <div class="info">
        <h4 class="blue">PMA</h4>
        <p>
          Affect change through positive thoughts and actions; never criticize, condemn, or complain.
        </p>
      </div>
    </div>
    <div class="value-block">
      <img src="imgs/values_ownership.svg" alt="" />
      <h4 class="blue">Ownership</h4>
      <div class="info">
        <h4 class="blue">Ownership</h4>
        <p>
          Take full responsibility for your actions and never make excuses in the face of epic challenges.
        </p>
      </div>
    </div>
  </div>
</section>
