<section class="columns three-video">
	{% for video in matrixBlock.videos %}
		<div class="one-third">
			<div class="video-image">
				{% set image = video.image.first() %}
					{% if image %}
						<img src="{{ image.url }}" />
					{% endif %}
				<button class="light video-launch" title="{{ video.wistiaId }}">{{ video.buttonText }}</button>
			</div>
			<div class="video-quote">
				<h2>{{ video.quote }}</h2>
				<p><strong>{{ video.fullName }}</strong>, {{ video.positionTitle }}</p>
			</div>

		</div>
	{% endfor %}
</section>
