<section class="columns three-video" id="{{ matrixBlock.scrollID }}">
	{% for video in matrixBlock.videos %}
		<div class="one-third">
			{% set image = video.image.first() %}
			{% if image %}
			<div class="video-image" style="background-image:url('{{ image.url }}')">
			{% endif %}

				<button class="light video-launch" title="{{ video.wistiaId }}">{{ video.buttonText }}</button>
			</div>
			<div class="video-quote">
				<h2>{{ video.quote }}</h2>
				<p><strong>{{ video.fullName }}</strong>, {{ video.positionTitle }}</p>
			</div>

		</div>
	{% endfor %}
</section>
