{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="/styles/styles.css" /><!--<![endif]-->
	<link rel="home" href="{{ siteUrl }}" />
</head>

<body>
	<div class="off-canvas">
		<li class="sidebar-close">
			<span class="first-child"></span>
			<span class="last-child"></span>
		</li>
		<ul class="top-level">
			<li>appdirect.com</li>
			<li>Benefts</li>
			<li>Developers</li>
			<li>Resources</li>
			<li>Video Center</li>
			<li>Blog</li>
			<li>About Us</li>
			<li>Careers
				<ul class="sub-list"><span class="bold">Teams</span>
					<li>Customer Ops</li>
					<li>Corporate</li>
					<li>Dev Ops</li>
					<li>Design</li>
					<li>Engineering</li>
				</ul>
				<ul class="sub-list"><span class="bold">Locations</span>
					<li>San Francisco</li>
					<li>Boulder</li>
					<li>Montreal</li>
					<li>Munich</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="overlay"></div>
		<nav>
			<div class="container">
				<ul class="anchor">
					 <li class="logo">
	          <a href="/">
	            <svg class="shape">
	              <use xlink:href="#ad-logo"></use>
	            </svg>
	          </a>
	        </li>
					<li class="title">Careers</li>
				</ul>
				<ul class="nav-toggle">
					<li class="burger">☰</li>
				</ul>
				<ul class="main-nav">
					<li>What We Do</li>
					<li>Core Values</li>
					<li>Teams</li>
					<li>Perks</li>
					<li>Locations</li>
					<li>Job Openings</li>
				</ul>
			</div>
		</nav>

		<main role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer>
		  <div class="container-small">
		    <div class="ad-logo">
		      <a href="http://appdirect.com">
		        <svg class="shape">
		          <use xlink:href="#ad-logo"></use>
		        </svg>
		      </a>
		    </div>
		    <div class="content">
		      <div class="footer-link row">
		        <ul>
		          <li><a href='#'>Product</a></li>
		          <li><a href='#'>Services</a></li>
		          <li><a href='#'>Solutions</a></li>
		          <li><a href='#'>Customers</a></li>
		          <li><a href='#'>Benefits</a></li>
		          <li><a href='#'>Developers</a></li>
		          <li><a href='#'>Plans</a></li>
		        </ul>
		        <ul>
		          <li><a href='#'>API Documentation</a></li>
		          <li><a href='#'>Video Center</a></li>
		          <li><a href='#'>Blog</a></li>
		        </ul>
		        <ul>
		          <li><a href='#'>About Us</a></li>
		          <li><a href='#'>Careers</a></li>
		          <li><a href='#'>Contact Us</a></li>
		          <li><a href="https://appdirect.com/login">Login</a></li>
		        </ul>
		        <div class="social">
		          <a href="http://www.facebook.com/AppDirect">
		            <svg class="shape">
		              <use xlink:href="#social_facebook"></use>
		            </svg>
		          </a>
		          <a href="http://www.linkedin.com/company/appdirect">
		            <svg class="shape">
		              <use xlink:href="#social_linkedin"></use>
		            </svg>
		          </a>
		          <a href="http://twitter.com/appdirect">
		            <svg class="shape">
		              <use xlink:href="#social_twitter"></use>
		            </svg>
		          </a>
		        </div>
		      </div>
		      <div class="row contact">
		        <div class="tri-column">
		          <div class="column">
		            <h4>Sales Inquiries:</h4>
		            <a class="white" href="mailto:sales@appdirect.com">sales@appdirect.com</a>
		          </div>
		          <div class="column">
		            <h4>Media Inquiries:</h4>
		            <a class="white" href="mailto:pr@appdirect.com">pr@appdirect.com</a>
		          </div>
		          <div class="column">
		            <h4>General Inquiries:</h4>
		            <a class="white" href="mailto:info@appdirect.com">info@appdirect.com</a>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</footer>
		<div class="fixed-footer-bg"></div>
		<script src="/js/vendor.js"></script>
	<script src="/js/careers.js"></script>
</body>
</html>
