{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="/styles/styles.css" /><!--<![endif]-->
	<link rel="home" href="{{ siteUrl }}" />
</head>

<body>
	<ul class="off-canvas">
		<li class="close">X</li>
		<li>appdirect.com</li>
		<li>Benefts</li>
		<li>Developers</li>
		<li>Resources</li>
		<li>Video Center</li>
		<li>Blog</li>
		<li>About Us</li>
	</ul>
	<div id="container">
		<nav>
			<ul class="anchor">
				<li class="logo"></li>
				<li class="title">Careers</li>
			</ul>
			<ul class="nav-toggle">
				<li class="burger">☰</li>
			</ul>
			<ul class="main-nav">
				<li>What We Do</li>
				<li>Core Values</li>
				<li>Teams</li>
				<li>Perks</li>
				<li>Locations</li>
				<li>Job Openings</li>
			</ul>

		</nav>

		<main class="container" role="main">

		</main>

		<footer id="footer">
			
		</footer>
	</div>
	<script src="/js/careers.js"></script>
</body>
</html>
