{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="/styles/styles.css" /><!--<![endif]-->
	<link rel="home" href="{{ siteUrl }}" />
</head>

<body>
	<div id="newnav">
<header class="nav main-nav">
  <div class="container-small">
    <nav>
      <ul>
        <li class="logo">
          <a href="/">
            <svg class="shape">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ad-logo"></use>
            </svg>
          </a>
        </li>
        <li class="dropdown">
          <a href="http://info.appdirect.com/products" class="">Product</a>
            <ul class="sub-menu">
              <div class="arrow"></div>
              <li class="nested-nav"><a href="http://info.appdirect.com/products/appdirect-monetization-suite">Monetization Suite</a>
                <ul>
                  <li><a href="http://info.appdirect.com/products/appdirect-monetization-suite/marketplace-management-service">Marketplace &amp; Management Service</a></li>
                  <li><a href="http://info.appdirect.com/products/appdirect-monetization-suite/billing-distribution-service">Billing &amp; Distribution Service</a></li>
                  <li><a href="http://info.appdirect.com/products/appdirect-monetization-suite/reseller-management-service">Reseller Management Service</a></li>
                </ul>
              </li>
              <li class="nested-nav"><a href="http://info.appdirect.com/products/appdirect-management-suite">Management Suite</a>
                <ul>
                  <li><a href="http://info.appdirect.com/products/appdirect-management-suite/data-management">Data Management</a></li>
                  <li><a href="http://info.appdirect.com/products/appdirect-management-suite/identity-and-access-management">Identity &amp; Access Management</a></li>
                  <li><a href="http://info.appdirect.com/products/appdirect-management-suite/infrastructure-management">Infrastructure Management</a></li>
                </ul>
              </li>
              <li><a href="http://info.appdirect.com/products/telco-subscription-billing">Telcom Subscription Billing</a></li>
              <li><a href="http://info.appdirect.com/products/private-app-management">Private App Management</a></li>
            </ul>
        </li>

        <li class="dropdown">
          <a href="http://info.appdirect.com/solutions" class="">Solutions</a>
            <ul class="sub-menu">
              <div class="arrow"></div>
              <li><a href="http://info.appdirect.com/solutions/iaas">IaaS</a></li>
              <li><a href="http://info.appdirect.com/solutions/paas">PaaS</a></li>
              <li><a href="http://info.appdirect.com/solutions/saas">SaaS</a></li>
              <li><a href="http://info.appdirect.com/solutions/telco">Telco</a></li>
              <li><a href="http://info.appdirect.com/solutions/hardware">Hardware</a></li>
              <li><a href="http://info.appdirect.com/solutions/retail">Retail</a></li>
            </ul>
        </li>

        <li>
          <a href="http://info.appdirect.com/services" class="">Services</a>
        </li>

        <li>
          <a href="http://info.appdirect.com/customers" class="">Customers</a>
        </li>
        <li>
          <a href="http://info.appdirect.com/plans" class="">Plans</a>
        </li>
      </ul>
    </nav>
    <menu class="utility-nav">
      <ul>
        <li class="dropdown">
          <a href="http://info.appdirect.com/about" class="">About Us</a>
            <ul class="sub-menu">
              <div class="arrow"></div>
              <li><a href="http://info.appdirect.com/about/careers">Careers</a></li>
              <li><a href="http://info.appdirect.com/about/leadership">Leadership</a></li>
              <li><a href="http://info.appdirect.com/about/press">Press Center</a></li>
              <li><a href="http://info.appdirect.com/about/investors">Investors</a></li>
              <li><a href="http://info.appdirect.com/resources">Resources</a></li>
              <li><a href="http://info.appdirect.com/video">Video Center</a></li>
              <li><a href="http://info.appdirect.com/blog">Blog</a></li>
              <li><a href="http://info.appdirect.com/about/contact">Contact Us</a></li>
            </ul>
        </li>
        <li>
          <a href="http://info.appdirect.com/developers" class="">Developers</a>
        </li>

        <li class="login">
          <a href="https://www.appdirect.com/login">
            <span>Log In</span>
            <svg class="shape">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#login_icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </menu>
  </div>
</header>

<nav class="mobile-nav">
  <div class="logo">
    <a href="/">
      <svg class="shape">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-ad-logo"></use>
      </svg>
    </a>
  </div>
  <div class="menu-bg"></div>
  <div class="menu-burger">☰</div>
  <ul class="menu-items">
    <li><a href="http://info.appdirect.com/products">Products</a></li>
    <li><a href="http://info.appdirect.com/solutions">Solutions</a></li>
    <li><a href="http://info.appdirect.com/services">Services</a></li>
    <li><a href="http://info.appdirect.com/customers">Customers</a></li>
    <li><a href="http://info.appdirect.com/plans">Plans</a></li>
  </ul>
  <ul class="menu-items sub">
    <li><a href="http://info.appdirect.com/about">About Us</a></li>
    <li><a href="http://info.appdirect.com/about">Developers</a></li>
    <li><a href="http://info.appdirect.com/about">Careers</a></li>
    <li>
      <a href="https://appdirect.com/login" class="login">
        <span>Login</span>
      </a>
    </li>
  </ul>
</nav>
</div>

		<main role="main">
				{% block content %}
					<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
					<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
				{% endblock %}
		</main>

		<footer>
		  <div class="container-small">
		    <div class="ad-logo">
		      <a href="http://appdirect.com">
		        <svg class="shape">
		          <use xlink:href="#ad-logo"></use>
		        </svg>
		      </a>
		    </div>
		    <div class="content">
		      <div class="footer-link row">
		        <ul>
		          <li><a href='http://info.appdirect.com/products'>Product</a></li>
		          <li><a href='http://info.appdirect.com/services'>Services</a></li>
		          <li><a href='http://info.appdirect.com/solutions'>Solutions</a></li>
		          <li><a href='http://info.appdirect.com/customers'>Customers</a></li>
		          <li><a href='http://info.appdirect.com/benefits'>Benefits</a></li>
		          <li><a href='http://info.appdirect.com/developers'>Developers</a></li>
		          <li><a href='http://info.appdirect.com/plans'>Plans</a></li>
		        </ul>
		        <ul>
		          <li><a href='http://info.appdirect.com/developers/docs/getting-started/introduction'>API Documentation</a></li>
		          <li><a href='http://info.appdirect.com/resources'>Resources</a></li>
		          <li><a href='http://info.appdirect.com/video'>Video Center</a></li>
		          <li><a href='http://info.appdirect.com/blog'>Blog</a></li>
		        </ul>
		        <ul>
		          <li><a href='http://info.appdirect.com/about'>About Us</a></li>
		          <li><a href='http://info.appdirect.com/about/careers'>Careers</a></li>
		          <li><a href='http://info.appdirect.com/about/contact'>Contact Us</a></li>
		          <li><a href="https://appdirect.com/login">Login</a></li>
		        </ul>
		        <div class="social">
		          <a href="http://www.facebook.com/AppDirect">
		            <svg class="shape">
		              <use xlink:href="#social_facebook"></use>
		            </svg>
		          </a>
		          <a href="http://www.linkedin.com/company/appdirect">
		            <svg class="shape">
		              <use xlink:href="#social_linkedin"></use>
		            </svg>
		          </a>
		          <a href="http://twitter.com/appdirect">
		            <svg class="shape">
		              <use xlink:href="#social_twitter"></use>
		            </svg>
		          </a>
		        </div>
		      </div>
		      <div class="row contact">
		        <div class="tri-column">
		          <div class="column">
		            <h4>Sales Inquiries:</h4>
		            <a class="white" href="mailto:sales@appdirect.com">sales@appdirect.com</a>
		          </div>
		          <div class="column">
		            <h4>Media Inquiries:</h4>
		            <a class="white" href="mailto:pr@appdirect.com">pr@appdirect.com</a>
		          </div>
		          <div class="column">
		            <h4>General Inquiries:</h4>
		            <a class="white" href="mailto:info@appdirect.com">info@appdirect.com</a>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</footer>
		<div class="fixed-footer-bg"></div>
		<script src="/js/vendor.js"></script>
	<script src="/js/careers.js"></script>
</body>
</html>
