{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<section class="columns hero">
		<div class="one-half">
			<div class="copy">
				<h1>Create your career, shape the industry, and drove the future of IT.</h1>
				<a class="button light">See Job Openings</a>
				<a class="button light">Watch Video</a>
			</div>
		</div>
	</section>
	<section class="columns">
		<div class="one-half">
			<div class="copy">
				<h4>What We Do</h4>
				<h1>We’re a commerce platform for finding, buying and selling cloud software.</h1>
				<p>We offer a cloud service marketplace and management platform that enables companies to distribute web-based services. The global network of AppDirect-powered marketplaces allows businesses to find, buy, and manage the best applications the cloud has to offer.<a href="#">Learn More</a></p>
			</div>
		</div>
		<div class="one-half">
			<img class="hide-mobile" src="../imgs/column-cta-1.png">
		</div>
	</section>
	<section class="columns teams">
		<div class="one-quarter">
			<div class="tile">
				<img src="../imgs/engineering.png">
			</div>
			<div class="title">
				<h3>Engineering</h3>
			</div>
		</div>
		<div class="one-quarter">
			<div class="tile">
				<img src="../imgs/dev-ops.png">
			</div>
			<div class="title">
				<h3>Dev Ops</h3>
			</div>
		</div>
		<div class="one-quarter">
			<div class="tile">
				<img src="../imgs/corporate.png">
			</div>
			<div class="title">
				<h3>Corporate</h3>
			</div>
		</div>
		<div class="one-quarter">
			<div class="tile">
				<img src="../imgs/product.png">
			</div>
			<div class="title">
				<h3>Product</h3>
			</div>
		</div>
	</section>
	<section class="columns video">
			<div class="one-half">
				<div class="copy">
					<h1>“I get to work with very talented people on a clean and solid codebase, developing a product that is revolutionizing the industry.”</h1>
					<p class="bold">Firstname Lastname, Title</p>
				</div>
			</div>
			<div class="one-half">
				<div class="cover" src="../imgs/video-callout.jpg"></div>
				<a class="button light">Watch Video</a>
			</div>
	</section>
	<section class="columns locations">
	<div class="one-third">
		<div class="tile">
			<img src="../imgs/locations-sf.png">
		</div>
		<div class="title">
			<h3>Engineering</h3>
		</div>
	</div>
	<div class="one-third">
		<div class="tile">
			<img src="../imgs/locations-sf.png">
		</div>
		<div class="title">
			<h3>Engineering</h3>
		</div>
	</div>
	<div class="one-third">
		<div class="tile">
			<img src="../imgs/locations-sf.png">
		</div>
		<div class="title">
			<h3>Engineering</h3>
		</div>
	</div>
</section>
<section class="table">
	<div class="container">
		<table id="jobs">
	    <tbody>
	        <tr>
	            <th>All Positions</th>
	            <th>All Locations</th>
	            <th>All Teams</th>
	        </tr>
	        <tr>
	            <td>Product Manager</td>
	            <td>San Francisco</td>
	            <td>Product</td>
	        </tr>
	        <tr>
	            <td>Backend Developer</td>
	            <td>Montreal</td>
	            <td>Engineering</td>
	        </tr>
	        <tr>
	            <td>Frontend Developer</td>
	            <td>San Francisco</td>
	            <td>Engineering</td>
	        </tr>
	    </tbody>
		</table>
	</div>
</section>
{% endblock %}
